@charset "UTF-8";

/* Elements */

#alert-modal {
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 99999;
}

#tab-locations .panel-body-inner-locations {
    position: relative;
}

#tab-locations .add_location-list:not(.nformat) {
    font-size: 0.9em;
    margin: 10px 0 0;
}

#filter-location .form-group {
    margin: 0;
}

#filter-location .form-group .control-label {
    padding: 0;
    margin-bottom: 5px;
}

#locations-list tbody tr {
    position: relative;
}

#locations-list tbody tr.editing {
    background-color: #fff;
    --bs-table-accent-bg: #fff;
}

#locations-list td {
    position: static;
}

#locations-list td:last-child {
    border-right: none;
}

#locations-list tbody > tr.editing > td {
    vertical-align: top;
    padding: 8px 8px 20px;
    box-shadow: none;
}

#locations-list tbody td.buttons {
    position: relative;
    z-index: 3;
}

#locations-list tbody tr:not(.editing) td.buttons button.save {
    display: none;
}

#locations-list td.addition_info .tab-pane > div + div,
#locations-list td.addition_info .location_coords,
#locations-list td.addition_info .location_coords > div + div {
    margin-top: 15px;
}

#locations-list td.addition_info .tab-pane label,
#locations-list td.addition_info .location_coords label {
    padding: 0 1px;
}

#locations-list tbody tr.editing td .location_id,
#locations-list tbody tr.editing td.addition_info .location_title {
    font-size: 1.2em;
    padding: 5px 10px;
}

#locations-list td.addition_info .location_description {
    margin: 20px 0 0 0;
}

#locations-list td.addition_info .tabs-location_description {
    padding: 10px 0;
    margin: 0 0 10px 0;
}

#locations-list td.addition_info .tab-content-location_description,
#locations-list td.addition_info .location_coords {
    padding: 0 10px;
}

#tab-locations .locations-empty {
    font-size: 16px;
    text-align: center;
    padding: 20px;
}

/* Loader */

.loader-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(155, 155, 155, 0.5);
    z-index: 4;
}

.lds-dual-ring {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

tr.editing .lds-dual-ring,
#tab-locations .panel-body-inner-locations.loader .lds-dual-ring {
    width: 120px;
    height: 120px;
}

.lds-dual-ring:after {
    content: '';
    width: 28px;
    height: 28px;
    display: block;
    margin: 1px;
    border: 2px solid #c87b0c;
    border-color: #c87b0c transparent #c87b0c transparent;
    border-radius: 50%;
    animation: lds-dual-ring 1.2s linear infinite;
}

tr.editing .lds-dual-ring:after,
#tab-locations .panel-body-inner-locations.loader .lds-dual-ring:after {
    width: 100px;
    height: 100px;
    margin: 8px;
    border-width: 6px;
}

/* Animation */

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}